
  html, body {
    height: 100%;
    margin: 0;
  }

  #app {
    display: flex;
    height: 100vh; 
  }

  .toggle-form-button{
   
    padding-top: 4px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    cursor: pointer;
    border-radius: 50%;
  }

  #form {
    width: 320px;         
    min-width: 280px;
    max-width: 400px;
    padding: 16px;
    box-sizing: border-box;
    background: #f5f5f5;
    overflow-y: auto;      
    display: flex;
    flex-direction: column;
  }

  #map {
    flex: 1;             
    height: 100%;
  }

  #form input, #form select {
    margin-bottom: 12px;

    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
  }

  #form textarea {
    margin-bottom: 12px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
    height: 80vh;
    resize: vertical; 
    
  }

  #form button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
  }
